@import url('../css/null.scss');

@font-face {
    font-family: 'Calibri-Regular';
    src: local('Calibri Regular'), local('Calibri-Regular'),
        url('../fonts/Calibri/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri/Calibri.woff') format('woff'),
        url('../fonts/Calibri/Calibri.ttf') format('truetype');
}

@font-face {
    font-family: 'Calibri-Bold';
    src: local('Calibri Bold'), local('Calibri-Bold'),
        url('../fonts/Calibri-Bold/Calibri-Bold.woff2') format('woff2'),
        url('../fonts/Calibri-Bold/Calibri-Bold.woff') format('woff'),
        url('../fonts/Calibri-Bold/Calibri-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'San Francisco(SF UI)';
    src: local('San Francisco(SF UI) Display Medium'), local('San-Francisco(SF-UI)-Display-Medium'),
        url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.woff') format('woff'),
        url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.ttf') format('truetype');
}

// Colors
$grey: #616161;
$dark: #141419;
$orange: #fb973b;

// Fonts
$Calibri-Bold: 'Calibri-Bold', 'Arial', sans-serif;
$Calibri-Regular: 'Calibri-Regular', 'Arial', sans-serif;
$SFUI: 'San Francisco(SF UI)', 'Arial', sans-serif;

.container {
    max-width: 1920px;
    padding-left: 335px;
    margin: 0 auto;
    position: relative;
}

.fon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 17px;
    left: 80px;
    z-index: -1;
}

.title {
    font-family: $Calibri-Bold;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    color: $dark;
    display: inline-block;
    word-wrap: break-word;
    span {
        background-image: linear-gradient(0, transparent 0.22em, $orange 0.22em, $orange 0.42em, transparent 0.42em);
        word-wrap: break-word;
    }
}

.subtitle {
    font-family: $Calibri-Regular;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: $grey;
    display: inline-block;
    word-wrap: break-word;
}

.orange-text {
    font-weight: 700;
    color: $orange;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 334px 0 0;
    nav {
        display: flex;
        justify-content: space-between;
        min-width: 768px;
        margin: 0 117px;
        a {
            margin-right: 50px;
            font-family: $Calibri-Regular;
            font-size: 18px;
            line-height: 29px;
            font-weight: 400;
            color: $grey;
            border-bottom: 2px solid transparent;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                border-bottom: 2px solid $orange;
            }
        }
        
    }
    .header__phone {
        font-family: $Calibri-Bold;
        font-size: 18px;
        line-height: 29px;
        font-weight: 700;
        color: $dark;
    }
}

.best-light {
    display: flex;
    flex-direction: column;
    padding: 84px 57px 65px 0;
    min-width: 1585px;
    position: relative;
    .best-light__title {
        max-width: 685px;
        margin-bottom: 17px;
    }
    .best-light__subtitle {
        max-width: 324px;
        margin-bottom: 36px;
    }
    &::after {
        content: '';
        position: absolute;
        width: 982px;
        height: 584px;
        background-image: url("../img/korofka-lampi.png");
        background-size: 982px;
        background-repeat: no-repeat;
        background-position-x: right 57px;
        background-position-y: top 25px;
        right: 0;
        top: 0;
        z-index: -1;
    }
}

.form {
    .form-tel {
        width: 196px;
        height: 57px;
        border: 1px solid #e1e1e1;
        padding: 23px 32px 20px 32px;
    }
    .form-btn {
        width: 195px;
        height: 57px;
        background-color: $orange;
        font-family: $SFUI;
        font-size: 18px;
        line-height: 31px;
        font-weight: 500;
        color: #ffffff;
        cursor: pointer;
    }

    input::-webkit-input-placeholder {
        font-family: $SFUI;
        font-size: 18px;
        font-weight: 500;
        color: $grey;
    }
    input::-moz-placeholder {
        font-family: $SFUI;
        font-size: 18px;
        font-weight: 500;
        color: $grey;
    } /* Firefox 19+ */

    input:-moz-placeholder {
        font-family: $SFUI;
        font-size: 18px;
        font-weight: 500;
        color: $grey;
    }/* Firefox 18- */

    input:-ms-input-placeholder {
        font-family: $SFUI;
        font-size: 18px;
        font-weight: 500;
        color: $grey;
    }
}

.about {
    display: flex;
    flex-direction: column;
    padding: 142px 528px 141px 202px;
    .about__title {
        display: flex;
        text-align: center;
        span {
            flex-shrink: 0;
        }
    }
    .about__subtitle {
        text-align: center;
        padding: 10px 153px 0 153px;
        min-width: 827px;
        margin-bottom: 45px;
    }
    .about-decription {
        display: flex;
        .about__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 0 0 36px;
            text-align: center;
            .about__text-num {
                width: 21px;
                height: 21px;
                border: 1px solid $orange;  
                color: $orange;
                line-height: 18px;
                font-size: 14px;
                border-radius: 11px;
                text-align: center;
                position: relative;
                margin: 34px 0 27px 0;
                &::before {
                    content: '';
                    width: 1px;
                    height: 21px;
                    position: absolute;
                    background-color: $orange;
                    display: inline-block;
                    top: -21px;
                    left: 9.5px;
                }
                &::after {
                    content: '';
                    width: 1px;
                    height: 21px;
                    position: absolute;
                    background-color: $orange;
                    display: inline-block;
                    top: 20px;
                    left: 9.5px;
                }
                &:first-child {
                    margin: 0 0 27px 0;
                }   
                &:first-child::before {
                    display: none;
                }  
            }
            .about__content {
                font-family: $Calibri-Regular;
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: $dark;
                width: 405px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 0 347px 0 0;
    min-width: 1585px;
    .partners {
        min-width: 430px;
        margin-right: 128px;
        span {
            min-width: 430px;
        }
    }
    .partners__subtitle {
        max-width: 250px;
    }
    .partners-logo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 400px;
        align-content: space-between;
        min-width: 680px;
        img {
            width: 241px;
            margin-right: 12px;
        }
        & > img:nth-child(2) {
            width: 265px;
            margin-right: 0px;
        }
    }
}