* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

.slider {
    width: 1200px;
    margin: 0 auto;
    min-height: 600px;
    background-color: rgb(138, 118, 118);
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    .slider__img-wrapper {
        width: 600px;
        height: 400px;
        position: relative;
        overflow: hidden;
        order: 1;
        img {
            width: 600px;
            height: 400px;
            object-fit: cover;
            position: absolute;
            left: 0px;
            z-index: 1;
            display: inline-block;
            transition: left 0.5s;
        }
    }
}

.hidden {
    visibility: hidden;
}

.left-btn {
    left: 20%;
    transform: rotate(-45deg);
    order: 0;
}

.right-btn {
    right: 20%;
    transform: rotate(135deg);
    order: 2;
}

.btn {
    width: 20px;
    height: 20px;
    top: 45%;
    cursor: pointer;
    border-top: 3px solid black;
    border-left: 3px solid black;
    cursor: pointer;
    &:hover {
        border-top-color: red;
        border-left-color: red;
    }
}

